In [80]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [81]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Busselton,-33.6500,115.3333,51.08,89,51,7.96,AU,2021-05-31 21:52:18
1,1,Kahului,20.8947,-156.4700,87.82,68,20,16.11,US,2021-05-31 21:51:55
2,2,Ushuaia,-54.8000,-68.3000,31.66,93,75,3.44,AR,2021-05-31 21:48:04
3,3,Salalah,17.0151,54.0924,80.58,80,98,8.21,OM,2021-05-31 21:52:18
4,4,Thurso,58.5927,-3.5259,52.05,92,100,13.51,GB,2021-05-31 21:52:18

In [82]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [83]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [84]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [85]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Call the figure to plot the data.
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [86]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [87]:
# Cloudmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
weights = clouds
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [111]:
# Windspeed map of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
weights = wind
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [89]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [90]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Kahului,20.8947,-156.4700,87.82,68,20,16.11,US,2021-05-31 21:51:55
3,3,Salalah,17.0151,54.0924,80.58,80,98,8.21,OM,2021-05-31 21:52:18
7,7,Puerto Ayora,-0.7393,-90.3518,80.56,88,43,8.01,EC,2021-05-31 21:52:06
14,14,Atuona,-9.8000,-139.0333,79.03,70,96,9.33,PF,2021-05-31 21:52:21
17,17,Lompoc,34.6391,-120.4579,75.11,72,75,4.00,US,2021-05-31 21:52:22
20,20,Kapaa,22.0752,-159.3190,85.48,68,90,1.01,US,2021-05-31 21:52:23
24,24,Victoria,22.2855,114.1577,81.32,95,100,3.87,HK,2021-05-31 21:50:45
25,25,Gamba,-2.6500,10.0000,75.69,92,100,4.05,GA,2021-05-31 21:52:25
26,26,Butaritari,3.0707,172.7902,83.59,77,76,19.04,KI,2021-05-31 21:52:25
27,27,Soyo,-6.1349,12.3689,77.09,90,43,7.72,AO,2021-05-31 21:52:25

In [91]:
preferred_cities_df.count()

City_ID       169
City          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
Country       169
Date          169
dtype: int64

In [92]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1        Kahului      US     87.82  20.8947 -156.4700
3        Salalah      OM     80.58  17.0151   54.0924
7   Puerto Ayora      EC     80.56  -0.7393  -90.3518
14        Atuona      PF     79.03  -9.8000 -139.0333
17        Lompoc      US     75.11  34.6391 -120.4579
20         Kapaa      US     85.48  22.0752 -159.3190
24      Victoria      HK     81.32  22.2855  114.1577
25         Gamba      GA     75.69  -2.6500   10.0000
26    Butaritari      KI     83.59   3.0707  172.7902
27          Soyo      AO     77.09  -6.1349   12.3689

In [93]:
# Set parameters to search for a hotel.
params = {"radius": 5000, "type": "lodging", "key": g_key}
params

{'radius': 5000,
 'type': 'lodging',
 'key': 'AIzaSyALIxkrF4DriVA1BXA9EEJyVl_bb47D-io'}

In [103]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    # Grab the first hotel from the results and store the name.

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [105]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [107]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [108]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [109]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
#MAke a change