## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import matplotlib as plt

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key = g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/Weather_Search_Vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Nikolskoye,RU,57.09,few clouds,59.7035,30.7861,Tourist House - Sablino
1,4,Vardo,NO,51.03,few clouds,70.3705,31.1107,Vardø Hotel AS
2,18,Chibombo,ZM,57.74,few clouds,-14.6569,28.0706,Chibombo District Council Guest House
3,19,Bilibino,RU,57.78,few clouds,68.0546,166.4372,Gostinitsa Severyanka
4,22,Port Alfred,ZA,56.59,broken clouds,-33.5906,26.8910,The Halyards Hotel
...,...,...,...,...,...,...,...,...
157,666,Ilinskiy,RU,58.51,clear sky,55.6190,38.1182,Around the world
158,669,Wufeng,CN,51.21,overcast clouds,27.4500,104.8333,中山宾馆
159,675,Potosi,BO,46.76,scattered clouds,-19.5836,-65.7531,Hostal La Casona Potosí
160,676,Helong,CN,55.67,scattered clouds,42.5397,128.9972,Helong Hotel
161,677,Jiuquan,CN,59.70,clear sky,39.7432,98.5174,Jiuquan Hotel

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Saldanha"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Saldanha"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Bredasdorp"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Cape Town"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Hermanus"] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
121,520,Saldanha,ZA,51.85,broken clouds,-33.0117,17.9442,Blue Bay Lodge

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(start)
print(end)
print(stop1)

(-33.0117, 17.9442)
(-33.0117, 17.9442)
(-34.5322, 20.0403)

In [12]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
Bredasdorp = stop1
Cape_Town = stop2
Hermanus = stop3 
fig = gmaps.figure(center = (-34.5, 18), zoom_level = 8)
Saldanha_to_Saldanha = gmaps.directions_layer(start, end, 
                                  waypoints=[Bredasdorp, Cape_Town, Hermanus],
                                  travel_mode = "DRIVING")
fig.add_layer(Saldanha_to_Saldanha)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,520,Saldanha,ZA,51.85,broken clouds,-33.0117,17.9442,Blue Bay Lodge
1,27,Bredasdorp,ZA,55.27,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
2,36,Cape Town,ZA,55.11,overcast clouds,-33.9258,18.4232,Southern Sun Waterfront Cape Town
3,73,Hermanus,ZA,55.80,overcast clouds,-34.4187,19.2345,Misty Waves Boutique Hotel

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations_df = itinerary_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations_df, info_box_content = hotel_info)
# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))